#container {
    width: 600px;
    height: 600px;
    background-color: white;
    display: flex;
    flex-direction: column;
}

#container div {
    display: flex;
    flex: 1;
}


.colored {
    background-color: black;
}

.size {
    margin: 15px;
    border: 2px solid whitesmoke;
    border-radius: 3px;
    padding: 5px 15px;
    background-color: blue;
    font-size: larger;
    font-weight: 900;
    color: aliceblue;
    font-family: 'Courier New', Courier, monospace;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(27, 22, 24);
    color: azure;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
