#container {
    width: 640px;
    height: 640px;
    display: flex;
    flex-wrap: wrap;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(27, 22, 24);
    color: azure;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.grid {
    /* min-width: 10px;
    min-height: 10px; */
    background-color: white;
    flex: 1 0 auto;
    height: auto;
}

.grid::before {
    padding-top: 100%;
    content: '';
    display: block;
}

.grid:hover {
    background-color: black;
}

.size {
    margin: 15px;
    border: 2px solid whitesmoke;
    border-radius: 3px;
    padding: 5px 15px;
    background-color: blue;
    font-size: larger;
    font-weight: 900;
    color: aliceblue;
    font-family: 'Courier New', Courier, monospace;
}
